{% extends 'base.html' %}
{% block title %}BloodPoint - Panel Administrador{% endblock %}
{% block content %}

<body class='home'>
	{% include "componentes/navbar.html" %}
	<div class="main-content">
		<h2>
			Detalles Campaña
		</h2>
		<div class="row">
			<div class="col-12" style="display: flex;">
				<a class="btn btn-primary red" href="{% url 'camapana_index' %}">
					<span>Volver al listado</span>
				</a>
			</div>
			<div class="col-12">
				<h4>Nombre: </h4>
				<input type="text" value="{{ campana.nombre }}" disabled>
				<h4>Fecha de la campaña: </h4>
				<input type="text" value="{{ campana.fecha_campana }}" disabled>
				<h4>Creado el: {{admin.created_at}}</h4>
			</div>
			<div class="col-12">
				<h4>Total Donaciones: </h4>
				<iframe
					width="300"
					height="200"
					seamless
					frameBorder="0"
					scrolling="no"
					src="https://bloodpoint-core.onrender.com/superset/explore/p/a5JGOrJqQzd/?standalone=1&height=200&campana_id={{campana.id_campana}}"
				>
				</iframe>
			</div>
		</div>
	</div>
</body>
{% endblock %}