<!DOCTYPE html>
<html>
<body>
    <p>Hola {{ user.get_username }},</p>
    <p>Recibiste este correo porque solicitaste restablecer tu contraseña en BloodPoint.</p>
    <p>
        Por favor, haz clic en el siguiente enlace:
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
            Restablecer contraseña
        </a>
    </p>
    <p>Si no solicitaste esto, ignora este correo.</p>
    <p>Gracias,<br>El equipo de BloodPoint</p>
</body>
</html>