{% extends 'base.html' %}

{% block content %}
<body class="password-reset">
    <div class="container">
        <div class="content-box">
            <h2>
                BLOODPOINT <i class="fas fa-heartbeat"></i>
            </h2>
            <h2 class="titulo">¡Contraseña actualizada!</h2>
            <p class="password-reset-container"></p>
                Tu contraseña ha sido cambiada.<br>
                Ahora puedes <a href="{% url 'login' %}">iniciar sesión</a>.
            </p>
        </div>
    </div>
</body>

{% endblock %}