{% extends 'base.html' %}
{% block title %}BloodPoint - Panel Administrador{% endblock %}
{% block content %}

<body class='home'>
	{% include "componentes/navbar.html" %}
	<div class="main-content">
		<h2>
			Panel Usuarios Administradores
		</h2>
		<div class="row">
			<div class="col-12">
				<a class="btn btn-primary red" style="width: 100%" href="{% url 'crear_admin' %}">Crear administrador</a>
			</div>
			{% for admin in admins %}
				<div class="col-12">
					<div class='list-item'>
						<h3>{{ admin.nombre|default:"Sin nombre" }} </h3>
						<a class="btn-primary" href="{% url 'editar_admin' admin.id_admin %}">
							<i style="color: #7d0000" class="fas fa-eye"></i>
						</a>
						<a class="btn-primary" href="{% url 'eliminar_admin' admin.id_admin %}">
							<i style="color: #7d0000" class="fas fa-trash"></i>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</body>
{% endblock %}